@{
    ViewBag.Title = "游戏";
}

@section styles{
    <link href="~/Content/css/nav.css" rel="stylesheet" />
    <style>
        .thumbnail img, h5:hover {
            cursor: pointer;
        }
    </style>
}
@Html.Partial("~/Views/PartialView/nav.cshtml")
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="http://image.game.uc.cn/2019/8/8/90061518.png" alt="神魔传说">
                <div class="caption">
                    <h5>神魔传说</h5>
                    <p>
                        <a href="#" class="btn btn-xs btn-primary " role="button">
                            详情
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="http://image.game.uc.cn/2019/7/30/89264908.png" alt="屠龙破晓">
                <div class="caption">
                    <h5>屠龙破晓</h5>
                    <p>
                        <a href="#" class="btn btn-xs btn-primary " role="button">
                            详情
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="http://image.game.uc.cn/2019/6/17/84761575.png" alt="一刀传世">
                <div class="caption">
                    <h5>一刀传世</h5>
                    <p>
                        <a href="#" class="btn btn-xs btn-primary " role="button">
                            详情
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="http://image.game.uc.cn/2019/5/30/81222991.png" alt="王者传奇">
                <div class="caption">
                    <h5>王者传奇</h5>
                    <p>
                        <a href="#" class="btn btn-xs btn-primary " role="button">
                            详情
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="http://image.game.uc.cn/2019/6/24/85727986.png" alt="烈焰龙城">
                <div class="caption">
                    <h5>烈焰龙城</h5>
                    <p>
                        <a href="#" class="btn btn-xs btn-primary " role="button">
                            详情
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2">
            <div class="thumbnail">
                <img src="http://image.game.uc.cn/2019/8/7/90010706.png" alt="斗罗大陆">
                <div class="caption">
                    <h5>斗罗大陆</h5>
                    <p>
                        <a href="#" class="btn btn-xs btn-primary " role="button">
                            详情
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/public.js"></script>
    <script src="~/Scripts/nav.js"></script>
}