@{
    ViewBag.Title = "首页";
}
@section styles{
    <link href="~/Content/css/nav.css" rel="stylesheet" />
}
@Html.Partial("~/Views/PartialView/nav.cshtml")
<div class="container-fluid">
    <h1>首页</h1>
</div>
@section scripts{
    <script src="~/Scripts/public.js"></script>
    <script src="~/Scripts/nav.js"></script>
}