<div class="topNav">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/joy/index">段子</a>
        </li>
        <li>
            <a href="/home/game">游戏</a>
        </li>
    </ul>
</div>